Suppose we want to analyze or visualize the data that are already in web. <br/>
We can use web scraping techniques for this. <br/>
Here we will learn to scrape some details about top AI scientists in the world (07/06/2021) <br/>
Our source of information: https://www.guide2research.com/scientists/artificial_intelligence

We will be using **Beautiful Soup** and **Requests** library for this task. Let's dive in.

In [ ]:
# Importing Libraries

import requests
import bs4
import pandas as pd

In [ ]:
columns = ["National Rank","World Rank","Image URLs","Name","Affiliation","Country","#DBLP","Citations","H-index"]
table_list = []

for page in range(10):
  url = 'https://www.guide2research.com/scientists/artificial_intelligence/page-'+str(page+1)
  web_page = bs4.BeautifulSoup(requests.get(url, {}).text,"lxml")
  tables = web_page.find_all(name="table") [1:-3]

  for table in tables:

    temp_list = []

    info = table.find_all(name="td")
    for idx,data in enumerate(info):

      if idx == 2 : temp_list.append(data.find(name="div").img["src"])
      
      elif idx == 3 : 
        temp_list.append(data.find(name="h3").text)
        details = [x.text for x in data.find_all(name="b") ]
        temp_list.extend(details)
      
      else:  temp_list.append(data.text[2:-2])

    table_dict = {columns[idx] : temp_list[idx] for idx,val in enumerate(temp_list) }

    table_list.append(table_dict)

In [ ]:
df = pd.DataFrame(data=table_list,columns=columns)
df

    National Rank World Rank  ... Citations H-index
0               1          1  ...   224,608     197
1               2          2  ...   403,071     185
2               1          3  ...   404,800     184
3               3          4  ...   156,845     182
4               4          5  ...   211,810     180
..            ...        ...  ...       ...     ...
995            46        996  ...    40,875      72
996           604        997  ...    38,343      72
997            36        998  ...    35,627      72
998            13        999  ...    31,530      72
999           605       1000  ...    30,843      72

[1000 rows x 9 columns]

### Saving the CSV File

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df.to_csv("/content/drive/My Drive/Colab Notebooks/PA Projects/ML Class/Week 4/Top_AI_scientists.csv",index=False)