Suppose we want to analyze or visualize the data that are already in web. <br/>
We can use web scraping techniques for this. <br/>
Here we will learn to scrape some details about top AI scientists in the world (07/06/2021) <br/>
Our source of information: https://www.guide2research.com/scientists/artificial_intelligence

We will be using **Beautiful Soup** and **Requests** library for this task. Let's dive in.

In [60]:
# Importing Libraries

import requests
import bs4
import pandas as pd

In [ ]:
url = 'https://www.guide2research.com/scientists/artificial_intelligence'

In [ ]:
web_page = bs4.BeautifulSoup(requests.get(url, {}).text,"lxml")

In [16]:
columns = ["National Rank","World Rank","Image URLs","Name","Affiliation","Country","#DBLP","Citations","H-index"]

In [26]:
tables = web_page.find_all(name="table") [1:-3]

In [58]:
table_list = []

for table in tables:

  temp_list = []

  info = table.find_all(name="td")
  for idx,data in enumerate(info):

    if idx == 2 : temp_list.append(data.find(name="div").img["src"])
    
    elif idx == 3 : 
      temp_list.append(data.find(name="h3").text)
      details = [x.text for x in data.find_all(name="b") ]
      temp_list.extend(details)
    
    else:  temp_list.append(data.text[2:-2])

  table_dict = {columns[idx] : temp_list[idx] for idx,val in enumerate(temp_list) }

  table_list.append(table_dict)

In [61]:
df = pd.DataFrame(data=table_list,columns=columns)
df

   National Rank World Rank  ... Citations H-index
0              1          1  ...   224,608     197
1              2          2  ...   403,071     185
2              1          3  ...   404,800     184
3              3          4  ...   156,845     182
4              4          5  ...   211,810     180
..           ...        ...  ...       ...     ...
95            65         96  ...    89,761     119
96             5         97  ...    76,837     119
97             4         98  ...    64,526     119
98             1         99  ...    49,784     119
99            66        100  ...    99,160     118

[100 rows x 9 columns]