# Python Data Structures (Containers)
- Lists 
- Dictionaries
- Sets
- Tuples

# List
Python equivalent of an array, but is resizeable and can contain elements of different data types.

In [ ]:
# Indexing 0 1 2 3
x = ['AI',1,'is',2,'the',2.4,'new',True,'electricity']
x

['AI', 1, 'is', 2, 'the', 2.4, 'new', True, 'electricity']

In [ ]:
x[0], x[3] # Indexing

('AI', 2)

In [ ]:
x[-1], x[-4] # Negative indices count from the end of the list

('electricity', 2.4)

In [ ]:
x[-1]='revolution' # Assigning values to a list
x

['AI', 1, 'is', 2, 'the', 2.4, 'new', True, 'revolution']

In [ ]:
x.append(3) # Add a new element to the end of the list
x

['AI', 1, 'is', 2, 'the', 2.4, 'new', True, 'revolution', 3]

In [ ]:
x.extend(['We', 'love', 'Python']) # Add multiple new element to the end of the list
x

['AI',
 1,
 'is',
 2,
 'the',
 2.4,
 'new',
 True,
 'revolution',
 3,
 'We',
 'love',
 'Python']

In [ ]:
x.append(['We', 'love', 'Python']) # Add a list to the end of the list
x

['AI',
 1,
 'is',
 2,
 'the',
 2.4,
 'new',
 True,
 'revolution',
 3,
 'We',
 'love',
 'Python',
 ['We', 'love', 'Python']]

In [ ]:
x[-1][-1] # We can also access the list inside the list

'Python'

In [ ]:
# Deleting values
rem = x.pop()
rem, x

(['We', 'love', 'Python'],
 ['AI',
  1,
  'is',
  2,
  'the',
  2.4,
  'new',
  True,
  'revolution',
  3,
  'We',
  'love',
  'Python'])

In [ ]:
x

['AI',
 1,
 'is',
 2,
 'the',
 2.4,
 'new',
 True,
 'revolution',
 3,
 'We',
 'love',
 'Python']

In [ ]:
x.remove('Python')
x

['AI', 1, 'is', 2, 'the', 2.4, 'new', True, 'revolution', 3, 'We', 'love']

In [ ]:
del x[-3]
x

['AI', 1, 'is', 2, 'the', 2.4, 'new', True, 'revolution', 'We', 'love']

In [ ]:
# Slicing
x[1:5]  # Get a slice from index 0 to 5 (exclusive)

[1, 'is', 2, 'the']

In [ ]:
x[3:] # Get a slice from index 3 to the end

[2, 'the', 2.4, 'new', True, 'revolution', 'We', 'love']

In [ ]:
x[:3] # Get a slice from the start to index 2 (exclusive)

['AI', 1, 'is']

In [ ]:
x[:] # Get a slice of the whole list

['AI', 1, 'is', 2, 'the', 2.4, 'new', True, 'revolution', 'We', 'love']

In [ ]:
len(x) # prints out the length

11

In [ ]:
x[:-3]

['AI', 1, 'is', 2, 'the', 2.4, 'new', True]

## Loops

In [ ]:
for element in x:
  print(element)

AI
1
is
2
the
2.4
new
True
revolution
We
love

In [ ]:
list(enumerate(x))

[(0, 'AI'),
 (1, 1),
 (2, 'is'),
 (3, 2),
 (4, 'the'),
 (5, 2.4),
 (6, 'new'),
 (7, True),
 (8, 'revolution'),
 (9, 'We'),
 (10, 'love')]

In [ ]:
# If you want access to the index of each element within the body of a loop, use the built-in enumerate function
for idx,element in enumerate(x):
  print("%d %s" %(idx,element))

0 AI
1 1
2 is
3 2
4 the
5 2.4
6 new
7 True
8 revolution
9 We
10 love

## List Comprehensions

In [ ]:
import time
start = time.time()

nums = list(range(0,5))
squares = []

for x in nums:
  squares.append(x**2)

done = time.time()

elapsed = done - start

squares,elapsed

0.4535551071166992

In [ ]:
# The upper codeblock can be written as following
import time
start = time.time()

nums = list(range(0,5))
squares = [x**2 for x in nums]

done = time.time()

elapsed = done - start

squares,elapsed

0.3354306221008301

In [ ]:
# Can also contain conditions
nums = list(range(0,5))
even_squares = [x ** 2 for x in nums if x % 2 == 0]
even_squares

[0, 4, 16]

# Dictionaries

A dictionary stores (key, value) pairs

In [19]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
print(d['cat'])

cute

In [22]:
print('cat' in d)     # Check if a dictionary has a given key; prints "True"

True

In [23]:
d['fish'] = 'wet'     # Add element to a dictionary
print(d['fish'])
d

wet

{'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}

In [24]:
d.update({'bird':'feathery','koala':'sleepy'}) # Add multiple elements to a dictionary
d

{'bird': 'feathery',
 'cat': 'cute',
 'dog': 'furry',
 'fish': 'wet',
 'koala': 'sleepy'}

In [29]:
# print(d['monkey'])  # KeyError: 'monkey' not a key of d

In [32]:
print(d.get('monkey', 'none'))  
print(d.get('koala', 'none'))

none
sleepy

In [33]:
del d['fish'] # Delete element
print(d.get('fish', 'N/A'))

N/A

In [34]:
d

{'bird': 'feathery', 'cat': 'cute', 'dog': 'furry', 'koala': 'sleepy'}

## Loop

In [35]:
for animal in d:
    attrrib = d[animal]
    print('A %s is %s' % (animal, attrib))

A cat is cute
A dog is furry
A bird is feathery
A koala is sleepy

In [36]:
d.items()

dict_items([('cat', 'cute'), ('dog', 'furry'), ('bird', 'feathery'), ('koala', 'sleepy')])

In [37]:
for animal, attrib in d.items():
    print('A %s is %s' % (animal, attrib))

A cat is cute
A dog is furry
A bird is feathery
A koala is sleepy

## Dictionary Comprehensions

In [38]:
nums = list(range(0,20))
even_num_squares = {x: x ** 2 for x in nums if x % 2 == 0}
even_num_squares

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324}

# Sets
A set is an unordered collection of distinct elements.

In [39]:
animals = {'cat', 'dog'}
print('cat' in animals)   # Check if an element is in a set
print('fish' in animals)  # Check if an element is in a set

animals.add('fish')       # Add an element to a set
print('fish' in animals)  # Check if an element is in a set

True
False
True

In [40]:
animals

{'cat', 'dog', 'fish'}

In [41]:
print(len(animals))       # Number of elements in a set
animals.add('cat')        # Adding an element that is already in the set does nothing
print(len(animals))
print(animals)

animals.remove('cat')     # Remove an element from a set
print(len(animals))
print(animals)

3
3
{'fish', 'dog', 'cat'}
2
{'fish', 'dog'}

# Tuples

In [42]:
d = {(x, x + 1): x for x in range(10)}
d

{(0, 1): 0,
 (1, 2): 1,
 (2, 3): 2,
 (3, 4): 3,
 (4, 5): 4,
 (5, 6): 5,
 (6, 7): 6,
 (7, 8): 7,
 (8, 9): 8,
 (9, 10): 9}

In [43]:
t = (5, 6)        # Create a tuple
print(type(t))

<class 'tuple'>

In [44]:
print(d[t])       # Prints "5"
print(d[(1, 2)])

5
1