# Why Python?
Python is the most popular and most used language in Data Science. But why? 
- Python is open source. So we do not need to worry about licensing.
- Simple syntax. Looks almost like pseudocode.
- Thousands of libraries and active collaborators.

# Operators
There are 3 types of operators
- Arithmetic Operators
- Comparison Operators
- Logical Operators

## Arithmetic Operators

In [18]:
print("Addition (5+3) =",5+3 )
print("Substraction (5-3) =", 5-3 )  
print("Multiplication (5*3) =", 5*3 ) 
print("Exponent (5**3) =", 5**3 )  
print("Division (5/3) =", 5/3 )  
print("Integer Division (5//3) =", 5//3 ) 
print("Remainder (5%3) =", 5%3 )

Addition (5+3) = 8
Substraction (5-3) = 2
Multiplication (5*3) = 15
Exponent (5**3) = 125
Division (5/3) = 1.6666666666666667
Integer Division (5//3) = 1
Remainder (5%3) = 2

## Comparison Operators

In [19]:
print("Less than: (5<3) =>",5<3 )
print("Less than or Equal to: (5<=3) =>", 5<=3 )  
print("Equal to: (5==3) =>", 5==3 )  
print("Greater than: (5>3) =>", 5>3 )  
print("Greater than or equal to: (5>=3) =>", 5>=3 ) 
print("Not equal to: (5!=3) =>", 5!=3 )

Less than: (5<3) => False
Less than or Equal to: (5<=3) => False
Equal to: (5==3) => False
Greater than: (5>3) => True
Greater than or equal to: (5>=3) => True
Not equal to: (5!=3) => True

# Logical Operators
- and
- or
- not
- xor

In [21]:
t = True
f = False
print(t and f) 
print(t or f)  
print(not t)

False
True
True

# Variables
Naming Rules:
- case-sensitive (s and S are not same)
- cannot start with special characters except underscore "_"
- cannot start with a number

In [23]:
a = int(input()) # any variable assignment
A = a + 3
print(a, A)

7
7 10

# Data Types
- Integer
- Boolean
- Float
- String

In [24]:
a = 212
b = True
c = 19.97
d = "Amar iSchool"
print(a,b,c,d)
type(a),type(b),type(c),type(d)

212 True 19.97 Amar iSchool

(int, bool, float, str)

## Strings
Python has great support for strings

In [25]:
# write with single or double quote, it does not matter

a = 'hello'    
b = "world"    
print(a,b)       
print(len(a),len(b))  # String length

hw = a + ' ' + b  # String concatenation
print(hw)

hw212 = '%s %s %d' % (a, b, 212)  # sprintf style string formatting
print(hw212)  # prints "hello world 212"

hello world
5 5
hello world
hello world 212

In [26]:
# Bonus

s = "hello"
print(s.capitalize())  # Capitalize a string
print(s.upper())       # Convert a string to uppercase
print(s.rjust(7))      # Right-justify a string, padding with spaces
print(s.center(7))     # Center a string, padding with spaces
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another
print('  world '.strip())  # Strip leading and trailing whitespace
print(s*3)
print(hw212.split())

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world
hellohellohello
['hello', 'world', '212']

# Conditional Statements
- if - else statement
- if - elif - else statement

In [28]:
x = float(input())

if(x>=3.75):    print("First Class Honors")
elif(x>=3.0):   print("First Class")
else:           print("Second Class")

3.75
First Class Honors

# Looping Constructs

In [29]:
# Print all odd numbers from 10 to 20
for i in range(10,21): # st en+1
  if i%2==1 : print(i)

11
13
15
17
19

In [30]:
for i in range(11,21,2): # st en+1 step
  print(i)

11
13
15
17
19

In [31]:
start = 50
while start>1:
  print(start)
  start = start // 2

50
25
12
6
3

# Functions

Reusable piece of code created for solving specific problem.

In [32]:
'''
syntax
def function_name(arguments): 
  // code
  return something
'''

def area_of_circle(radius):
  return 3.1416 * (radius ** 2)

In [33]:
x = float(input())
area_of_circle(x)

10

314.15999999999997

In [34]:
def hello(name, loud=False):
    if loud:
        print('HELLO, %s!' % name.upper())
    else:
        print('Hello, %s' % name)

hello('Abu') 
hello('Karim', loud=True)

Hello, Abu
HELLO, KARIM!

# Classes

In [35]:
class Greeter(object):

    # Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable

    # Instance method
    def greet(self, loud=False):
        if loud:
            print('HELLO, %s!' % self.name.upper())
        else:
            print('Hello, %s' % self.name)

g = Greeter('Karim')  # Construct an instance of the Greeter class
g.greet()            
g.greet(loud=True) 

f = Greeter('Sabik')
f.greet(loud=True)

Hello, Karim
HELLO, KARIM!
HELLO, SABIK!